html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 0 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2 {
  font-family: "Josefin Sans", sans-serif;
}

ul.links {
  display: flex;
  list-style-type: none;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 2rem;
}

.nav__link + .nav__link {
  margin-left: 1rem;
}

.nav__link {
  font-size: 0.9rem;
}

.header {
  background-color: #d6e0d7;
  padding-right: 2rem;
}

.header__content {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

.header__img {
  max-width: 100%;
}

.header__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header__cta {
  font-size: 4rem;
}

.header__description {
  font-weight: 300;
  font-size: 0.9rem;
  margin: 2.5rem 0;
}

.btn {
  display: inline-flex;
  place-items: center;
  padding: 0.5em 1.2em;
  background-color: coral;
  border-radius: 0.5rem;
  transition: background-color ease 250ms;
}

.btn:hover {
  background-color: rgb(255, 174, 145);
}

#box-group {
  display: flex;
  column-gap: 0.5rem;
  padding: 1rem;
}
#box-group .box {
  --size: 5rem;
  width: var(--size);
  height: var(--size);
  border-radius: 10px;
  background-color: rgb(62, 142, 90);
}