@keyframes momo-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes momo-fade-in-right {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes momo-fade-in-left {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes momo-fade-in-up {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes momo-fade-in-down {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes momo-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes momo-fade-out-right {
  from {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: 0;
    transform: translateX(50%);
  }
}
@keyframes momo-fade-out-left {
  from {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50%);
  }
}
@keyframes momo-fade-out-up {
  from {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: 0;
    transform: translateY(50%);
  }
}
@keyframes momo-fade-out-down {
  from {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50%);
  }
}
@keyframes momo-slide-in-right {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translate(0);
  }
}
@keyframes momo-slide-in-left {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translate(0);
  }
}
@keyframes momo-slide-in-up {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translate(0);
  }
}
@keyframes momo-slide-in-down {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translate(0);
  }
}
@keyframes momo-slide-out-right {
  from {
    transform: translate(0);
  }
  to {
    transform: translateX(50%);
  }
}
@keyframes momo-slide-out-left {
  from {
    transform: translate(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes momo-slide-out-up {
  from {
    transform: translate(0);
  }
  to {
    transform: translateY(50%);
  }
}
@keyframes momo-slide-out-down {
  from {
    transform: translate(0);
  }
  to {
    transform: translateY(-50%);
  }
}
@keyframes momo-scale-in {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
@keyframes momo-scale-in-right {
  from {
    transform: translateX(50%);
    scale: 0;
  }
  to {
    transform: translate(0);
    scale: 1;
  }
}
@keyframes momo-scale-in-left {
  from {
    transform: translateX(-50%);
    scale: 0;
  }
  to {
    transform: translate(0);
    scale: 1;
  }
}
@keyframes momo-scale-in-up {
  from {
    transform: translateY(50%);
    scale: 0;
  }
  to {
    transform: translate(0);
    scale: 1;
  }
}
@keyframes momo-scale-in-down {
  from {
    transform: translateY(-50%);
    scale: 0;
  }
  to {
    transform: translate(0);
    scale: 1;
  }
}
@keyframes momo-scale-out {
  from {
    scale: 1;
  }
  to {
    scale: 0;
  }
}
@keyframes momo-scale-out-right {
  from {
    transform: translate(0);
    scale: 1;
  }
  to {
    transform: translateX(50%);
    scale: 0;
  }
}
@keyframes momo-scale-out-left {
  from {
    transform: translate(0);
    scale: 1;
  }
  to {
    transform: translateX(-50%);
    scale: 0;
  }
}
@keyframes momo-scale-out-up {
  from {
    transform: translate(0);
    scale: 1;
  }
  to {
    transform: translateY(50%);
    scale: 0;
  }
}
@keyframes momo-scale-out-down {
  from {
    transform: translate(0);
    scale: 1;
  }
  to {
    transform: translateY(-50%);
    scale: 0;
  }
}/*# sourceMappingURL=animation.css.map */