// @keyframes momo-fade-in {
//   to {
//     opacity: 1;
//   }
// }

@each $direction in $animation-directions {
  @keyframes momo-fade-in-#{$direction} {
    from {
      opacity: 0;
      @include animation-directions("in", $direction);
    }
    to {
      opacity: 1;
      transform: translate(0);
    }
  }
}

@keyframes momo-fade-out {
  to {
    opacity: 0;
  }
}

@each $direction in $animation-directions {
  @keyframes momo-fade-out-#{$direction} {
    to {
      opacity: 0;
      @include animation-directions("out", $direction);
    }
  }
}
